# Configurações do Servidor
PORT=3000

# Banco de Dados (para uso futuro)
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=tarefas_db
# DB_USER=usuario
# DB_PASSWORD=senha

# Exemplo de variável de conexão usada pelo Prisma (MySQL)
# Copie para `.env` e ajuste: USER, PASS, HOST, PORT, DATABASE
DATABASE_URL="mysql://USER:PASS@HOST:3306/DATABASE"

# JWT (para uso futuro)
# JWT_SECRET=sua_chave_secreta_aqui

# Ambiente
NODE_ENV=development
